* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #1b1b32;
}

.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  font-family: Lato, sans-serif;
}

.freecodecamp-logo-contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 20px;
}

.freecodecamp-logo{
  height: 50px;
}

.contenedor-principal {
  height: 550px;
  min-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

h2 {
  color: white;
  margin-bottom: 20px;
}